p {
    text-align: justify;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.center-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.center-images img {
    max-width: 45%;
    height: auto;
}